.Post {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    margin: 1.5rem 0;
    gap: 1em;
}

.PostImageHolder {
    width: 150px;
    height: 150px;
    flex: 1;
}

.PostImageHolder > img {
    width: 100%;
    object-fit: cover;
    border-radius: 1em;
}

.PostInfo {
    flex: 3;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.PostCategories {
    list-style: none;
    display: flex;
    justify-content: flex-start;
    gap: 1em;
    margin-bottom: 1.2em;
}

.PostCategoryItems {
    flex: 1;
}

@media (max-width: 550px) {
    .Post {
        flex-direction: column;
        align-items: center;
    }

    .PostImageHolder {
        flex: 1;
    }

    .PostInfo {
        flex: 1;
        justify-content: center;
        align-items: center;
    }
}