.Post {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1rem 0 2.5rem 0;
    max-height: 150px;
}

.PostImageHolder {
    flex: 1 1 25%;
    overflow: hidden;
    border-radius: 6px;
}

.PostImageHolder > img {
    width: 100%;
    object-fit: contain;
}

.PostInfo {
    flex: 3 0 60%;
    margin-left: 1em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

.PostCategories {
    list-style: none;
    margin-bottom: 1.2em;
}

.PostCategoryItems {
    display: inline-block;
    margin-right: 1em;
    width: 25%;
}