.HomeCover {
    margin-top: 3rem;
}

.HomeCoverTitles {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Lora", serif;
    color: #444;
}

.HomeCoverTitleSm {
    position: absolute;
    top: 13%;
    font-size: 20px;
}

.HomeCoverTitleSm::after {
    content: '';
    margin-top: 0.3rem;
    display: block;
    position: relative;
    height: 3px;
    background: rgb(238, 205, 164);
    animation: line 2s infinite linear alternate;
}

.HomeCoverTitleLg {
    position: absolute;
    top: 17%;
    font-size: 100px;
}

.HomeCoverImg {
    width: 100vw;
    height: 450px;
    margin-top: 6.9rem;
    object-fit: cover;
}

@keyframes line {
    0% {
        left: 0%;
        width: 0.5rem;
    }

    33% {
        left: 33%;
        width: 1rem;
    }

    66% {
        left: 66%;
        width: 1rem;
    }

    100% {
        left: 99%;
        width: 0.5rem;
    }
}
