.Header {
    position: sticky;
    top: 0;
    width: 100%;
    background-color: white;
    padding: 0.5rem;
    display: flex;
    align-items: center;
    font-family: 'Varela', sans-serif;
}

.HeaderLeft,
.HeaderRight {
    flex: 3;
    display: flex;
    align-items: center;
    justify-content: center;
}

.HeaderCenter {
    flex: 6;
}

.HeaderCenter::after {
    content: '';
    position: absolute;
    left: 30%;
    height: 3px;
    width: 50px;
    background: rgb(238, 205, 164);
    animation: line 3s 0.5s infinite linear;
}

@keyframes line {
    0% {
        width: 0%;
    }
    50% {
        left: 45%;
        width: 25%;
        opacity: 0.5;
    }
    75% {
        left: 50%;
        width: 9%;
        opacity: 0.3;
    }
    100% {
        left: 55%;
        width: 0%;
        opacity: 0;
    }
}

.Avatar {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    object-fit: cover;
}

.social-icons {
    margin-right: 1rem;
    cursor: pointer;
    font-size: 20px;
    color: #444;
}

.NavList {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0;
    padding: 0;
    list-style: none;
}

.NavItems {
    margin-right: 2rem;
    cursor: pointer;
    color: rgb(130, 126, 126);
}

.searchIcon {
    margin-left: 0.75rem;
    cursor: pointer;
    color: #666;
}